extends ../layout/layout.pug

block content
    h1 Create User

    if errs
        each err in errs
            .alert.alert-danger= err

    form(action = '/users/create', method='post', enctype="multipart/form-data")
        input(type="hidden", name="_csrf", value=csrfToken)
        .form-group
            lable(for='name') Name
            input#name.form-control(type='text',name='name',placeholder='name', value= values ? values.name : '')
        .form-group
            lable(for='email') Email
            input#email.form-control(type='email',name='email',placeholder='email', value= values ? values.email : '')
        .form-group
            lable(for='phone') Phone
            input#phone.form-control(type='text',name='phone',placeholder='phone', value= values ? values.phone : '')
        .form-group
            lable(for='password') Password
            input#password.form-control(type='password',name='password',placeholder='password')
        .form-group
              lable(for='avatar') Avatar
              input#avatar.form-control-file(type='file',name='avatar')

        button.btn.btn-success Create