extends ../layout/layout.pug

block content
        h1
            span.mr-3 List users
            a.btn.btn-info(href="/users/create") New User
        .d-flex.align-items-center

            form.ml-auto(action='/users/search',method='get', class='d-flex')
                input(type='text',name='q', class='form-control')
                button(class='btn btn-success ml-1') Search
        table.table
                tr
                    th Name
                    th Image
                    th Phone
                    th
                each val in users
                    tr
                        td= val.name
                        td
                          img(src=val.avatar, width="64px")
                        td= val.phone
                        td
                            a.btn.btn-light(href="/users/"+ val.id) view
