extends ../layout/layout.pug

block content
    h2 Login
    if errs
        each err in errs
            .alert.alert-danger= err

    form(action = '/auth/login', method='post')
        input(type="hidden",name="_csrf", value=csrfToken)
        .form-group
            lable(for='email') Email
            input#email.form-control(type='text',name='email',placeholder='email', value= values ? values.email : '')
        .form-group
            lable(for='password') Password
            input#password.form-control(type='password',name='password',placeholder='password', value= values ? values.password : '')
        button.btn.btn-success Login