extends ../layout/layout.pug

block content
    h1 New transfer


    form(action = '/transfer/create', method='post')
        input(type="hidden", name="_csrf", value=csrfToken)
        .form-group
            lable(for='account') Account
            input#account.form-control(type='text',name='account',placeholder='account')
        .form-group
            lable(for='tien') Tien
            input#tien.form-control(type='text',name='tien',placeholder='tien')

        button.btn.btn-success Transfer