html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand(href='#') Navbar
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item.active
                a.nav-link(href='/')
                  | Home
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/users') User
          if user
            p= user.name
        .container.pt-5
            block content